
.titulo-C{
text-align: center;
}

.img-carrito {
  margin-right: 15px;
}


.card-link-C {
  text-decoration: none; 
  color: inherit; 
}

.card-C {
  display: flex;
  width: 100%;
  max-width: 672px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card-image-C {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  margin-right: 20px;
  flex-shrink: 0;
}

.card-content-C {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title-C {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description-C {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.card-price-C {
  font-size: 16px;
  font-weight: bold;
}

/* Efecto de hover */
.card-C:hover {
  transform: scale(1.02); /* Aumenta ligeramente el tamaño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el efecto */
}

/* Efecto cuando se hace click (puedes cambiar el color de la sombra si lo deseas) */
.card-C:active {
  transform: scale(1.01); /* Hace la tarjeta un poco más pequeña al hacer clic */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


