.cuerpo{
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0px;
}

.titulo1{
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.titulo2{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 20px;
    }

.parrafo{
    text-align: left;
    font-size:  20px;
}

/*los contenedores con los integrantes*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
}

.container-sn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card-sn {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
}

.card-image-sn {
    width: 35%;
    background-color: #f9f9f9;
    border-radius: 8px 0px 0px 8px;
}

.card-content-sn {
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title-sn {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-name-sn {
    font-size: 16px;
}

@media (max-width: 1100px) {
    .cuerpo {
        max-width: 95%;
    }
}

@media (max-width: 990px) {
    .container-sn{
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .titulo1{
        text-align: center;
    }

    .parrafo{
        text-align: justify;
    }
}