#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carrusel-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carrusel {
    width: 70%;
    background-color: aqua;
    display: flex;
    transition: transform 0.4s ease;
}

.item {
    min-width: 24%;
    height: 150px;
    background-color: #ccc;
    margin: 0 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 8px;
}

.botones {
    margin-top: 15px;
    text-align: center;
}

.botones button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}
