.card-container {
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-family: century gothic;
    font-size: 24px;
}

#username {
    font-size: 18px;
    font-weight: 650;
    color: #4e4e4e;
}

#infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.list-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
    color: #1f2937;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

#infoContainer div {
    display: block;
    text-align: left;
    width: 20%;
}

.labelText {
    font-weight: 600;
    font-size: 15px;
    color: #adadad;
}

.card-info {
    font-size: 18px;
}

#infoContainer > div:first-child {
    width: 30%;
}

.btn-danger {
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background-color: #b40000;
    font-size: 14px;
}