.card-container {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 1rem;
    color: #1f2937;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

#infoContainer div {
    display: block;
    text-align: left;
}

.labelText {
    font-weight: 600;
    font-size: 15px;
    color: #adadad;
}

.card-info {
    font-size: 18px;
}